/* Widget Styling
------------------------------------------------------------ */

// default widget styles
.widget {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 5px 40px;
    margin-left: -5px;
    background: #bbb;
    border: 2px solid #000000;
    -webkit-box-shadow: 0 0 0 5px, 11px 13px 0 4px black;
    -moz-box-shadow: 0 0 0 5px, 11px 13px 0 4px black;
    box-shadow: 0 0 0 5px, 11px 13px 0 4px black;
    width:85%;
    &.widget_search {
        overflow: hidden;
    }
}
.widget-wrap {
    color: #000;
    &>ul {
        margin-left:0;
    }
}

